.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        omatsu
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{}
            %i.fa.fa-cog
  .groups
    %a{}
    .group
      %p.group__group-name グループ名
      %p.group__message 新着メッセージ
      
