.side
  .header
    .side_header
      %p.header__name
        omatsu
      %p.header__lists
        -# %p.list
        = link_to do
          %i.fa.fa-edit
        -# %p.list
        = link_to do
          %i.fa.fa-cog
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
      
-#   .side__header
-#     omatsu
-#     .side__header__inner
-#       .side__header__inner__user-name
-#         -# = current_user.name
-#       %ul.side__header__inner__menu
-#         %li
-#           =link_to do
-#             = icon 'fas', 'edit'
-#         %li
-#           =link_to do
-#             = icon 'fa', 'cog'
-#   .side__contents
-#     -# - current_user.groups.each do |group|
-#       .side__contents__group
-#         -# = link_to do
-#           .side__contents__group__name
-#              -# = group.name
-#           .side__contents__group__message
-#             -# = group.show_last_message
